body {
    background-color: #ddd;
}

.menu .menu-liens {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(19rem,1fr));
}

.menu .menu-liens > li {
    text-align: center;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding : 1rem;

    font-size: 1.1rem;
}

