html {
    scroll-behavior: smooth;
}

body {
    background-color: #ddd;
}

header {
    background-color: #36a7df;
}

.menu .menu-liens {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(19rem,1fr));
}

.menu .menu-liens > li {
    text-align: center;
    font-size: 1.3rem;
}

.menu .menu-liens > li > a {
    color: white;
    text-decoration: none;
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding : 1rem;

    font-size: 1.1rem;
}

