.menu .menu-liens {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(19rem,1fr));
}

.menu .menu-liens > li {
    text-align: center;
}

body {
    background-color: aquamarine;
}